@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100%;
    font-family: 'Overpass', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:hsl(216, 12%, 8%);
}
.ratingContainer{
    display: flex;
    flex-direction: column;
    width:330px;
    padding:30px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 25px;
}
.thankYouContainer{
    display: flex!important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:330px;
    padding:30px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 25px;
}

.star{
    width:20px;
    height:auto;
    padding:20px;
    border-radius: 50%;
    background-color: hsl(213, 19%, 23%);
}
p{
   color:hsl(216, 12%, 54%);
   line-height: 1.6em;
   font-size: 15px;
}
h1, h2{
    color: #fff;
    margin:20px 0 0 0;
}
.ratings span{
    border-radius: 50%;
    width: 18px;
    height: 18px;
    padding: 14px;
    background-color: hsl(213, 19%, 23%);
    color:hsl(216, 12%, 54%);
    text-align: center;
    font: 18px 'Overpass', sans-serif;
    margin-bottom: 20px;
}
.ratings{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
button{
    background-color: hsl(25, 97%, 53%);
    padding:12px 0 10px 0;
    width: 100%;
    border-radius: 20px;
    color: #fff;
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    transition: 0.2s ease-in-out;
}

button:hover{
    background-color: #fff;
    color:hsl(25, 97%, 53%);
    cursor: pointer;
}
.ratings span:hover{
    color: #fff;
    background-color:hsl(25, 97%, 53%);
    cursor: pointer;
}
.active{
    background-color:hsl(216, 12%, 54%)!important;
    color:#fff!important;
}
.hide{
    display: none!important;
}
.thankYouImg{
    max-width:100%;
    height:auto;
}
.selected{
    padding:2px 20px 0;
    border-radius: 20px;
    background-color: hsl(213, 19%, 23%);
    color:hsl(25, 97%, 53%);
}

@media(max-width:480px){
    .ratingContainer, .thankYouContainer{
        width:80%!important;
    }
    .container{
        min-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}